.w100{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.btn-big{
	padding:10px 15px;
}

.btn:disabled{
	background:#95a5a6;
	color:#f8f8f8;
	cursor:not-allowed;
}
b{
	color:#7f8c8d;
}
.grn{
	background:#1abc9c;
}
.red{
	background: #e74c3c;
}
.blu{
	background:#3498db;
}

.yellow{
	background: #f39c12;
}
.strong{
	font-weight:bold;
}
.route{
	background:#f8f8f8;
	padding:3px 10px;
	border-radius: 4px;
}

.alert{
	background:#1abc9c;
	color:white;
	padding:10px;
	margin-bottom:20px;
}

.alert b{
	color:white;
}

.well-header{
	margin: 0px auto 15px;
	border-radius:5px;
}
.well{
	background:#f8f8f8;
	padding:10px;
	margin: 0px auto 15px;
	border-radius:5px;
}


input,textarea{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       	box-sizing: border-box;
       	width:100%;
}
.well-header-in{
	padding:10px;
}
.well-header-bn{
	background:#f8f8f8;
	padding:10px;
}
.pad10{
	padding:0px 10px;
}
.strip{
	padding:2px;
}
.green{
	background:#ecf0f1;
}

.star{
	color:#f1c40f;
}

.white{
	color:#bdc3c7;
}

h3{
	margin:10px auto;
	font-size:20px;
}