.register_container{
	background:white;
	padding:20px;
	border-radius:15px 0px 15px 0px;
}

.register_logo{
	text-align:center;
}
.register_title{
	background:#2ECC71;
	font-weight:bold;
	color:white;
	padding: 15px 25px;
	margin:20px -25px;
	border-radius:5px;
}

.register_input{
	border:0; 
  -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
  outline: none;
	padding:15px; 
	font-size:1.0em; 
	color:#34495e; 
	background:#f8f8f8;
	width:100%;
	margin:5px 0 5px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	margin-bottom:10px;
}
.register_button{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
	padding: 10px 30px;
    color: #FFF;
	background: #3498db;	
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 0px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	cursor:pointer;
	font-size:18px;
	margin-top:10px;
}

.register_button:hover{
	opacity:0.9;
}