.route_table{
	width:100%;
	border: none;
	padding:0px;	
	border-top: 0px solid #ecf0f1;
	border-bottom: 3px solid #ecf0f1;
}

.route_table tr td{
		border-top: 1px solid #ecf0f1;
		padding:10px;
		vertical-align:top;
}
.route_table tr th{
		background:#f8f8f8;
		text-align:left;
		padding:10px;
		margin:-10px;
		vertical-align:top;
}
.route_table_footer{
	padding:0px 10px 20px;
	padding-bottom: 20px
}


.well{
	background: #f8f8f8;
	padding:10px;
}

.orange{
	background: #f1c40f;
	color:white;
}
.star{
	color:#f1c40f;
	font-size:15px;
}

.white{
	color:#bdc3c7;
}
.alert{
	background:#1abc9c;
	color:white;
	padding:10px;
	margin-bottom:20px;
}

.alert b{
	color:white;
}